* {
    margin: 0;
    padding: 0;
    font-family: Lato;
}

/* style for primary button */
.button-primary {
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    border: solid #FFFFFF;
    color: #FFFFFF;
    cursor: pointer;
}

/* style for header section */
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: rgba(229, 84, 115, 0.10);
    height: 650px;
}

/* style for banner section */
.banner {
    width: 700px;
    height: 500px;
    margin: 100px;
}
.banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 700;
}
.banner-pera {
    margin-top: 32px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    width: 630px;
    height: 90px;
}
.header-img {
    width: 535px;
    height: 600px;
    margin-top: 50px;
    /* margin-right: 50px; */
    align-content: space-between;
}

/* style for our-featured-flowers */
.our-featured-flowers {
    margin-top: 178px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.our-featured-flowers-title {
    color: #272727;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
    width: 392px;
    height: 48px;
}
.our-featured-flowers-pera {
    text-align: center;
    width: 594px;
    height: 60px;
    margin-bottom: 48px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}
.image-card {
    width: 1120px;
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin: 0 128px 128px 128px;
    font-weight: bold;
}
.image-card-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 300px 300px 0 0;
    background: rgba(167, 33, 98, 0.15);
    width: 360px;
    height: 400px;
}
.child-1 {
    width: 310px;
    height: 289px;
    padding: 110px 25px 0 20px;
    margin-bottom: 32px;
}
.image-card-1>p {
    text-decoration: underline;

}
.image-card-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 300px 300px 0 0;
    background: rgba(5, 151, 160, 0.15);
    width: 360px;
    height: 400px;
}
.child-2 {
    width: 310px;
    height: 289px;
    padding: 110px 25px 0 20px;
    margin-bottom: 32px;
}
.image-card-2>p {
    text-decoration: underline;
}
.image-card-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 300px 300px 0 0;
    background: rgba(71, 125, 17, 0.15);
    width: 360px;
    height: 400px;
}
.child-3 {
    width: 310px;
    height: 289px;
    padding: 110px 25px 0 25px;
    margin-bottom: 32px;
}
.image-card-3>p {
    text-decoration: underline;
}

/* style for featured-extra */
.featured-extra {
    width: 1120px;
    height: 320px;
    margin: 0 248px 128px 248px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 175px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
}
.extra-1 {
    width: 250px;
    margin-left: 175px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.extra-1>p {
    cursor: pointer;
}
.extra-2 {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.extra-2>p {
    cursor: pointer;
}
.extra-3 {
    width: 250px;
    margin-right: 175px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.extra-3>p {
    cursor: pointer;
}

/* style for sing up */
.sign-up {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 150px;
    gap: 100px;
    background: rgba(229, 84, 115, 0.05);
    padding: 200px;
}
.sign-up-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 24px;
}
.sign-up-header {
    width: 537px;
    height: 48px;
}
.sign-up-pera {
    text-align: center;
    width: 594px;
    height: 60px;
}

/* style for instagram */
.instagram {
    margin-top: 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.instagram-title {
    color: #272727;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}
.instagram-img {
    width: 1120px;
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin: 0 128px 128px 128px;
    /* border: solid; */
}
.instagram-img-1 {
    width: 262px;
    height: 300px;
}
.instagram-img-2 {
    width: 262px;
    height: 300px;
}
.instagram-img-3 {
    width: 262px;
    height: 300px;
}
.instagram-img-4 {
    width: 262px;
    height: 300px;
}

/* style for deals */
.deals {
    background-image: url("../Flower-Asset/Rectangle 9.png");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 100px;
    margin: 0 199px 128px 199px;
}
.deals>p {
    text-align: center;
}
.input-field {
    margin-top: 48px;
    margin-right: 10px;
    margin-bottom: 121px;
    border: none;
    border-radius: 8px;
    width: 700px;
    height: 55px;
    padding: 5px;
}
.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 199px 128px 199px;
    gap: 20px;
    padding: 50px;
    background-color: #f2f2f2;
    border-radius: 5px;
}

.contact-form label,
.contact-form input,
.contact-form textarea {
    display: block;
    width: 400px;
    margin-bottom: 10px;
}
.contact-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.contact-form textarea{
    height: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* style for footer */
.flower-shop {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 1920px; */
    height: 150px;
    background: #111010;
    color: #FFFFFF;
    padding: 128px;
}
.footer-title {
    text-align: center;
    font-size: 48px;
    font-weight: 800;
    width: 259px;
    height: 58px;
}
.flower {
    color: #E55473;
}
.flower-pera {
    text-align: center;
    width: 625px;
    height: 60px;
    margin-top: 24px;
    margin-bottom: 24px;
    color: rgba(255, 255, 255, 0.90);
}
.copy-right {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}