* {
    margin: 0;
    padding: 0;
    font-family: Lato;
}

.header {
    display: flex;
    flex-direction: row;
    background: rgba(229, 84, 115, 0.10);
    /* width: 1920px; */
    height: 650px;
}

/* style for banner section */
.banner {
    width: 700px;
    height: 500px;
    margin: 100px;
}

/* style for banner title */
.banner-title {
    display: flex;
    color: #272727;
    font-size: 80px;
    font-weight: 700;
}

/* style for banner paragraph */
.banner-pera {
    margin-top: 32px;
    margin-bottom: 32px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    width: 630px;
    height: 90px;
}

/* style for button */
.button-primary {
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    border: solid #FFFFFF;
    color: #FFFFFF;
    cursor: pointer;
}

/* header style for image */
.header-img {
    width: 635px;
    height: 600px;
    margin-top: 50px;
    margin-right: 250px;
}

/* style for our-featured-flowers */
.our-featured-flowers {
    margin-top: 178px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* style for our-featured-flowers-title */
.our-featured-flowers-title {
    color: #272727;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
    width: 392px;
    height: 48px;

}

/* style for our-featured-flowers-pera */
.our-featured-flowers-pera {
    text-align: center;
    width: 594px;
    height: 60px;
    margin-bottom: 48px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}

/* style for footer */
.flower-shop {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 1920px; */
    height: 150px;
    background: #111010;
    color: #FFFFFF;
    padding: 128px;
}

.footer-title {
    text-align: center;
    font-size: 48px;
    font-weight: 800;
    width: 259px;
    height: 58px;
}

.flower {
    color: #E55473;
}

.flower-pera {
    text-align: center;
    width: 625px;
    height: 60px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.copy-rigths {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}